#tricks{
    margin-top: 50px;
}

.tricks-sl{
	display: inline;
	text-indent: 8px;
}
.tricks-sl span{
	animation: topToBottom 15s linear infinite 0s;
	-ms-animation: topToBottom 15s linear infinite 0s;
	-webkit-animation: topToBottom 15s linear infinite 0s;
	color: $tricks-color;
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.tricks-sl span:nth-child(1){
	animation-delay: 3s;
	-ms-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.tricks-sl span:nth-child(2){
	animation-delay: 6s;
	-ms-animation-delay: 6s;
	-webkit-animation-delay: 6s;
}
.tricks-sl span:nth-child(3){
	animation-delay: 9s;
	-ms-animation-delay: 9s;
	-webkit-animation-delay: 9s;
}
.tricks-sl span:nth-child(4){
	animation-delay: 12s;
	-ms-animation-delay: 12s;
	-webkit-animation-delay: 12s;
}
.tricks-sl span:nth-child(5){
	animation-delay: 15s;
	-ms-animation-delay: 15s;
	-webkit-animation-delay: 15s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@media screen and (max-width: 900px){
    .tricks-sl span{
        font-size: 50px;
    }
  }
  @media screen and (max-width: 579px){
    .tricks-sl span{
        font-size: 25px;
    }
    #tricks{
        margin-left: -30px;
    }
  }