#favorite {
    background: $tricks-color;
    // clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    padding-top: 6rem;
    margin-bottom: -1px;
    color: $white-color;
    height: 600px;
    font-size: 60px;

    .titledebomb{
        margin-bottom: 100px;
    }
    .divbomb{
        display: flex;
        justify-content: center; 
    }
    .divbomb2{
        display: flex;
        justify-content: center;
    } 
    
    .div1{
        margin-top: 15px;
        display: flex;
        justify-content: center; 
    }
    .div2{
        margin-top: 15px;
        display: flex;
        justify-content: center; 
    }
    .div3{
        margin-top: 15px;
        display: flex;
        justify-content: center; 
    }
    .div4{
        margin-top: 15px;
        display: flex;
        justify-content: center; 
    }
    .div5{
        margin-top: 15px;
        display: flex;
        justify-content: center; 
    }
    @include respond(tab-land) {
      padding: 10rem 0;
      clip-path: none;
      margin-top: 0;
      -webkit-clip-path: none;
    }
  
        // Responsive for contact text
        @include respond(phone) {
          font-size: 2rem;
        }
   
    @media screen and (max-width: 900px){
        height: auto;
        .titledebomb{
            margin-bottom: 50px;
        }
        
      }
      @media screen and (max-width: 579px){
        height: auto;
        .titledebomb{
            margin-bottom: 50px;
        }
      }
  }
  