#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: url('../images/park.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 400;
  color: $white-color;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

.scroll{
  font-size: 20px;
  color: $tricks-color;
  text-align: right;
}

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 7.6rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 7.6rem;
    }
    @include respond(tab-port) {
      font-size: 7.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 4rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 3rem;
    }
  }

  .hero-subtitle {
    font-size: 4.5rem;
    font-weight: 700;
    // margin-bottom: 1.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4.5rem;
    }
    @include respond(tab-port) {
      font-size: 4.5rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 2.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.2rem;
    }
  }


@media screen and (max-width: 900px){
  .scroll{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
  }
}
@media screen and (max-width: 579px){
  .scroll{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
  }
}
}