#success {
    // background: rgb(249,165,10);
    // background: -moz-linear-gradient(30deg, rgba(249,165,10,1) 0%, rgba(0,0,0,0.7290266448376226) 100%);
    // background: -webkit-linear-gradient(30deg, rgba(249,165,10,1) 0%, rgba(0,0,0,0.7290266448376226) 100%);
    // background: linear-gradient(30deg, rgba(249,165,10,1) 0%, rgba(0,0,0,0.7290266448376226) 100%);
    // padding-top: 6rem;
    background: url('../images/wallart2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: -1px;
    color: $white-color;
    height: 1200px;
    font-size: 60px;
    
    

    .picdiv{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    }
    .successlabels{
      color: $tricks-color;
      font-size: 28px;
      margin-top: -50px;
      font-family: 'Rock Salt', cursive;
    }
    @include respond(tab-land) {
      padding: 10rem 0;
      clip-path: none;
      margin-top: 0;
      -webkit-clip-path: none;
    }
  
        // Responsive for contact text
        @include respond(phone) {
          font-size: 2rem;
        }
   
    @media screen and (max-width: 900px){
        height: auto;
        .titledebomb{
            margin-bottom: 50px;
        }
        
      }
      @media screen and (max-width: 579px){
        height: auto;
        .titledebomb{
            margin-bottom: 50px;
        }
      }
  }