.dataimg{
    width: 400px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(8px 8px 8px #000000);
    border-radius: 30px;

}
@media screen and (max-width: 900px){
    .dataimg{
        width: 450px;
        height: auto;
        -webkit-filter: drop-shadow(5px 5px 5px #222222);
        filter: drop-shadow(10px 10px 8px #222222);
    }
  }
  @media screen and (max-width: 579px){
    .dataimg{
        width: 250px;
        height: auto;
        -webkit-filter: drop-shadow(5px 5px 5px #222222);
        filter: drop-shadow(10px 10px 8px #222222);
    }
  }