.dataimg{
    width: 230px;
    height: auto;
    margin-top: -250px;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(8px 8px 8px #000000);
    margin-left: 25%;

}
@media screen and (max-width: 900px){
    .dataimg{
        width: 250px;
        height: auto;
        margin-top: -180px;
        -webkit-filter: drop-shadow(5px 5px 5px #222222);
        filter: drop-shadow(10px 10px 8px #222222);
        margin-left: 35%;
    }
  }
  @media screen and (max-width: 579px){
    .dataimg{
        width: 180px;
        height: auto;
        margin-top: -120px;
        -webkit-filter: drop-shadow(5px 5px 5px #222222);
        filter: drop-shadow(10px 10px 8px #222222);
        margin-left: 20%;
    }
  }